## SETS unordered unindex mutable(changeable) creating, accessing, updating and deleting sets
### FUNCTIONS len(), max(), min(), sum(), any() all(), sorted()

In [ ]:
## list is ordered

In [ ]:
a = {3,4,6,7,'excellence',78.5,7}
print(a)

In [ ]:
print(type(a))

In [ ]:
## sets does not alllowed dublicate value

In [ ]:
a ##its not allowing dublicate values

In [ ]:
b = {3,4,6,7,'excellence',78.5,7,[1,2,3]}#we cannot add dictionary list and other mutables in sets though set is mutable

In [ ]:
b=set()#to create empty set

In [ ]:
type(b)

In [ ]:
c={}#do not create empty set like this
type(c)

In [ ]:
b=set([1,2,3,4,5])#argument passed in this set is iterable 
print(b)

In [ ]:
type(b)

In [ ]:
#we cannot perform slicing in set

In [ ]:
b.discard(2)
b

In [ ]:
b.remove(3)
b

In [ ]:
b.discard(12)#12 is not there but still it is not giving error
b

In [ ]:
b.remove(3) #it will error

In [ ]:
b.pop() #it will pop random item
b

In [ ]:
c = {1,5,89,8,7,4,5,6}
c.pop()
print(c)

In [ ]:
print(c.pop())

In [ ]:
c

In [ ]:
b.clear()

In [ ]:
b

In [ ]:
##update

In [ ]:
b.add(567)
b

In [ ]:
b={5, 6, 7, 8, 89}

In [ ]:
b.add(99)

In [ ]:
print(b)

In [ ]:
b.update([1,2,3,4,5])

In [ ]:
print(b)

In [ ]:
b.update([1,2,3,4,5],{99,101,102,69})

In [ ]:
b

### FUnctions

In [ ]:
###FUNCTIONS len(), max(), min(), sum(), any() all(), sorted()

In [ ]:
myset={2,5,6,3,8,1,19}
myset2={'ha','har','harsh'}
print(len(myset))
print(len(myset2))

In [ ]:
max(myset)

In [ ]:
max(myset2)

In [ ]:
myset3={0,0}
myset4={0,1,2,3,4,5}

In [ ]:
any(myset)

In [ ]:
any(myset3)

In [ ]:
print(all(myset3))
print(all(myset4))

In [ ]:
print(sorted(myset))

In [ ]:
print(sorted(myset,reverse=True))